
.Child {
  
    width: 500px;

}

.task{
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(219, 236, 241);
    padding: 3px;
}

.empty{
    margin-top: 5px;
    border-radius: 5px;
    color: rgb(122, 120, 120);
    background-color: rgb(219, 236, 241);
    padding: 3px;
    text-align: center;
}